.postheader {
    width: 95vw;
    height: 40px;
    color: darkblue;
    background-color: white;
    /* border: 1px solid gray; */
    margin-bottom: 10px;
}
.listbtn {
    width: 82px;
    height: 40px;
    border: 0.5px;
    border-radius: 20px;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
}
.writebtn {
    width: 102px;
    height: 40px;
    border: 0.5px;
    border-radius: 20px;      
    color: white;  
    background-color: #FC5754;
    padding: 10px 20px 10px 20px;
}
.postlist {
    width: 95vw;
    height: 100vh;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 5px;
}

.posttable {
    width: 95vw;
}

.postbtns tr button{
    width: 50px;
    height: 25px;
    border-radius: 15px;
    border: 0.5px;
    background-color: white;
    color: #8C8C8C;
    gap: 8px;
    margin: 5px;
}
.sort{
    width: 100px;
    height: 30px;
    border: 0.5px solid gray;
    background-color: white;
    color: #8C8C8C;
}

.postbtns tr button:hover{
    background-color: #FC5754;
    color: white;
}

.postbody {
    margin: 5px;
}