.postheader {
    width: 1055px;
    height: 40px;
    color: darkblue;
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
}
.listbtn {
    width: 82px;
    height: 40px;
    border: 0.5px;
    border-radius: 20px;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
}
.writebtn {
    width: 102px;
    height: 40px;
    border: 0.5px;
    border-radius: 20px;      
    color: white;  
    background-color: #FC5754;
    padding: 10px 20px 10px 20px;
}
.postlist {
    width: 1055px;
    height: 807px;
    background-color: white;
    border: 1px solid gray;
}