.ranking-page{
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto 100px auto;
    gap: 5px;
    height: 900px;
}

.ranking-live-wrapper {
    display: flex;
    gap: 8px;
}

.ranking-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 60%;
}