/* 카드 전체 감싸는 영역 */
.info-edit-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
}

/*닉네임 변경 css 시작*/

/* 수정 영역 카드 */
.info-edit-container {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.preview-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.edit-btns{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: center;

    min-width: fit-content;
    white-space: nowrap;
}

.edit-submit-btn {
    background-color: #343434;
    color: white;
    border: 1px solid #00000026;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.edit-submit-btn:hover {
    background-color: rgb(99, 99, 99);
}

.delete-account-btn{
    background-color: #fff;
    border: 1px solid #00000026;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.delete-account-btn:hover{
    background-color: #f2f2f2;
}

/*닉네임 변경 css 끝*/
