.market-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    padding: 20px;
    flex: 1;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market-card-content {
    display: flex;
    flex: 1;
    gap: 5px;
}

.market-card-info {
    width: 150px;
}

.market-card-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.market-card-subtitle {
    font-size: 0.9rem;
    color: #696969;
    margin-bottom: 12px;
}

.market-card-value {
    font-size: 2rem;
    color: #2979ff;
    font-weight: bold;
    margin-bottom: 4px;
}

.market-card-diff {
    font-size: 0.9rem;
    color: #2979ff;
}

.market-card-chart {
    flex: 1;
}
.market-card-chart span{
    font-size: 0.8rem;
}