.askbtn {
    width: 102px;
    height: 40px;
    border: 0.5px;
    border-radius: 20px;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    height: 100vh;
    width: 70%;
    position: relative;
    gap: 50px;
}

.service-title{
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    alignItems: center;
}

.service-list{
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    min-width: 150px;
}
.service-list div:hover{
    cursor: pointer;
    background-color: #FC5754;
    color: white;
}
.service-list .active{
    color: white;
    background-color: #FC5754;
}

.notice{
    display: flex;
    width: 100%;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
    padding: 15px 0;
    justify-content: center;
}

.ask{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #343434;
    padding: 15px 0;
}

.invest-last{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #343434;
    padding: 15px 0;
}


.service-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.content-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.notice-list {
    width: 60vw;
}

.notice-table thead tr th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-inline: none;
}

.notice-table tr {
    height: 47px;
}

.notice-table thead {
    background-color: white;
}
.notice-table tfoot tr {
    height: 64px;
}

.notice-table tfoot tr td {
    border: none;
}

.notice-table tbody tr td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-inline: none;
}

.notice-title {
    text-align: left;
}

.notice-pagination {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.ask-list {
    width: 60vw;
}

.ask-table thead tr th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-inline: none;
}

.ask-table tr {
    height: 47px;
}

.ask-table thead {
    background-color: white;
}
.ask-table tfoot tr {
    height: 64px;
}

.ask-table tfoot tr td {
    border: none;
}

.ask-table tbody tr td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-inline: none;
}

.writeicon {
    font-size: 17px;
    margin-right: 5px;
}

.delicon {
    font-size: 17px;
    fill: red;
}

.ask-title {
    text-align: left;
}

.ask-pagination {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
